<div class="jumbotron-mt-4" >
    {{!-- Cambiar --}}
        {{#if esOdontologo}} 
        <div>
            <h1 class="display-4">¡Bienvenido odontologo!</h1>
            <hr class="my-4">
        </div> 
        {{/if}} 
       
        <div>
            <h1 class="display-4 fs-2 text-center border-color">¡Bienvenido a Dentify!</h1>
        </div>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaption " data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/fondo5.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/fondo6.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/fondo3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
        <div style="text-align: center;">
            <h2 class=" my-4" style="text-align: center;" > </h2>
            <div class="row container-fluid" style="justify-content: center;">
                <div class="col-sm-4" >
                    <div class="card style-card">
                        <div class="card-body">
                            <img src="/img/otroinocoHistoria.png" width="150">
                            <h5 class="card-title">Ver historia clinica</h5>
                            <p class="card-text">Podra ver todos los tratamientos realizados</p>
                                <a class="button-card" href="/users/historias-clinicas"> Acceder <span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card style-card">
                        <div class="card-body">
                            <img src="/img/perfil-PhotoRoom.png" width="150">
                            <h5 class="card-title">Perfil</h5>
                            <p class="card-text">Podra ver toda su informacion y poder editarla</p>
                            <a href="/users/profile" class="button-card">Acceder</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card style-card">
                        <div class="card-body">
                            <img src="/img/iconopresupuesto-PhotoRoom.png" width="150">
                            <h5 class="card-title">Consultar presupuestos</h5>
                            <p class="card-text">Podra ver los presupuestos disponibles</p>
                            <a href="#" class="button-card">Acceder</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {{!-- Datos del local --}}
        <div class="jumbotron" style="text-align: center; background-color:aliceblue; margin-top: 50px;">
            <hr class="my-4">
            <h1 class="display-5">Nuestro centro</h1>    
            <hr class="my-4">    

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="margin-top: -10px;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/consultorio/consultorio-1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/consultorio/consultorio-2.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>       
        </div>  

    {{!-- Datos de la ubicacion --}}
        <div class="jumbotron" style="text-align: center; background-color:aliceblue; margin: -20px; margin-top: 150px;">
            <hr class="my-4">
            <h1 class="display-5">Nos encontramos en Hipólito Irigoyen N° 8419, de la ciudad de Lomas de Zamora, Provincia de Buenos Aires</h1>   
            <hr class="my-4">           
        </div>  

        <div class="jumbotron jumbotron-fluid">
            
            <div style="margin: 10px;text-align: left;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.080732841854!2d-58.40341688424927!3d-34.753559072949706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd290b9268e3f%3A0x1921ca8cce2572ca!2sAv.%20Hip%C3%B3lito%20Yrigoyen%208419%2C%20B1832BRB%20Lomas%20de%20Zamora%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1664858080158!5m2!1ses!2sar" 
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
        </div>
    </div>

