<div class="card" style="background-color: blanchedalmond;">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati rem unde soluta dolores quis laborum iure, incidunt minima ab officiis sequi perferendis quo libero sint omnis est tenetur non odit dolore error vitae. Laborum corporis voluptatum debitis repellat, amet commodi?</p>
    </div>
</div>