body{
    background: #D4E5ED;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #D4E5ED, #a5cddf);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #D4E5ED, #a5cddf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.barra{
    background-color: black;
    padding: 1%;
    margin-bottom: 10%;
}

.items:hover{
    background-color:white;
}

.table-Color{
    background-color: #347FA0;
    padding: 30px;
    border-radius: 1%;
    box-shadow: 3px 4px 6px #666;
 }

 .border-color {
    background-color: #16577a;
    box-shadow: 4px 2px 10px #666; 
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    margin: 0px 0px 10px 0px;
    /* font-weight: 100; */

 }

 .styles-button{
    display: inline-block;
 }

 .boton:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgb(26, 231, 231);
    transition: all 1s ease;
  }
  .boton:hover:before {
  width: 100%;
  background-color: transparent
  }

  #toggler{
    justify-content: left;
    position: relative;
    margin-right: 50%;
  }
  
  #profile{
    margin-left: 95%;
    margin-top: -20px;
    position: absolute;
  }
  
  #logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    }

