<div class="container-fluid d-print-none" style=" color: #fff; width: 100%; padding: 1em; bottom: 0; ">
    <div class="row p-5 bg-dark text-white">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h3">Dentify</p>
            <p class="text-secondary">Ivan</p>
        </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5 mb-3">Acciones</p>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="#">Historias Clinicas</a>
                </div>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="#">Tratamientos</a>
                </div>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="#">Perfil</a>
                </div>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="#">Notas</a>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5 mb-3">Contacto</p>
                    <div class="mb-2">
                        <a class="text-secondary text-decoration-none" href="#">Instagram</a>
                    </div>
                    <div class="mb-2">
                        <a class="text-secondary text-decoration-none" href="#">Facebook</a>
                    </div>
            </div>    

        <div class="col-xs-12">
            <p class="text-white text-center">Copyright - All rights reserved © 2022 </p>
        </div>

        <div style="text-align: right; position:absolute; margin: -25px">
            <button style="background-color:#41a1ca00; border:none;">
            <a href="/">
                <img src="/img/logo9.png" width="250px" href="/" />
            </a>
            </button>
        </div>
    </div>
</div>   
