<h1 class="fs-2 text-center border-color">Historias Clinicas</h1>
<div class="container">
  <table class="table table-striped table-light table-hover mt-5" style="background-color: white">
 <form action="/users/historias-clinicas/search" method="POST">
    <div class="input-group" style="margin-bottom: 3%;">
      <input type="Number" class="form-control" placeholder="Ingrese DNI del paciente..." name="dniPaciente">
      <span class="input-group-btn" style="padding-left: 1%;">
        <button class="btn btn-success" type="submit">Buscar</button>
      </span>
    </div>
 </form>

  <table class="table" style="background-color: white">
    <thead>
      <tr>
        <th scope="col">Paciente</th>
        <th scope="col">DNI</th>
        <th scope="col">Odontologo</th>
        <th scope="col">Historia Clinica</th>
      </tr>
    </thead>
    <tbody>
      {{#each usersdatas}}
      <tr>
        <th scope="row">{{nombre}} {{apellido}}</th>
        <td>{{dni}}</td>
        <td>Ivan Guasch Vives</td>
        <td><a href="/users/historias-clinicas/{{_id}}">Ver</a></td>
      </tr>
      {{/each}}

      
    </tbody>
</table>
</div>